

.chat-body  {
    background-color: aliceblue;
    width: 400px;
    height: 500px;
    margin-left: 50px;
    border-top: 1px solid white;
}

.messg-own {
    overflow-wrap: normal;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
     /* width: 80%;
     height: 10%; */
     background-color: aqua;
     padding: 20px;
     margin-top: 20px;
     margin-left:10%;
     text-align: center;
     display: inline-block;
     position: relative;
     border-radius: 20px; 
     ;    
     
}
.messg-incoming {
    overflow-wrap: normal;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
     /* width: 80%;
     height: 10%; */
     background-color: aqua;
     padding: 20px;
     margin-top: 20px;
     margin-right: 20%;
     text-align: center;
     display: inline-block;
     border-radius: 20px;

    }

    .bubble-dialog {
        white-space: pre-line;
        line-height:0;
    }

   .adminMesg {
       margin-top: 20px;
       text-align: center;
   }
 .header-messg-by {
     text-align: left;
     font-size:10px;
 }
    .bubble-left,
    .bubble-right {
        line-height: 100%;
        display: block;
        position: relative;
        padding: 20px;
        color: aliceblue;
        background: rgb(230, 47, 77);
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        border-radius: 11px;
        margin-bottom: 2em;
        clear: both;
        max-width:50%;
    }
    p{
        margin-bottom: 0;
    }
    
    .bubble-left {
        float: left;
        margin-right:10%;
    }
    .bubble-right {
        float:right;
        margin-left:10%
    }
    
    /* .bubble-left:after,
    .bubble-left:before,
    .bubble-right:after,
    .bubble-right:before {
        content: "";
        position: absolute;
        top: 21px;
        border-style: solid;
        border-width: 13px 17px 13px 0;
        border-color: transparent pink;
        display: block;
        width: 0;
    } */
/*     
    .bubble-left:after,
    .bubble-left:before {
        border-width: 13px 17px 13px 0;
        border-color: transparent pink;
    }
    
    .bubble-right:after,
    .bubble-right:before {
        border-width: 13px 0 13px 17px;
        border-color: transparent pink;
    }
    
    .bubble-left:after {
        left: -16px;
        border-color: transparent pink;
        z-index: 1;
    }
    
    .bubble-left:before {
        left: -19px;
        border-color: transparent red;
        z-index: 0;
    }
    
    .bubble-right:after {
        right:-16px;
        border-color: transparent pink;
        z-index: 1;
    }
    
    .bubble-right:before {
        right:-19px;
        border-color: transparent red;
        z-index: 0;
    } */
    
    @media only screen and (max-width: 720px) {

        .chat-body  {
            background-color: aliceblue;
            width: 300px;
            height: 500px;
            margin-left: 50px;
            border-top: 1px solid white;
        }
        .close-img {
            height: 20px;
            width: 20px;
            margin-left: 190px;
            
        }
       
      }